.main-content {
    border-width: 0px 5px 20px 5px;
    margin: 0px -0.65% 2px -0.65%;
    border-color: orange orange coral orange;
    border-style: solid;
}

.empty-section {
    background-color: white;
}

h1 { 
font-family: 'Yusei Magic', sans-serif;
font-family: 'Sriracha', cursive;
margin: -10px -0.65% 0px -10px;
padding: 25px 0px 40px 0px;
text-transform: uppercase;
text-align: center;
font-weight: bold;
background: orange;
font-size: 35px;
height: 50px;
color: white;
}

nav {
margin: -10px 0px 0px 0px;
background-color: lightblue;
padding: 5px 0px 15px 10px;
}

nav a {
padding: 4px 4px 1px 4px;
border: 1px solid black;
margin: 0px 4px;
}

.steve-jobs-image {
margin: -12px 0px 0px 0px;
height: 22.5%;
width: 12%;
float: left;
}

.bio {
background-color: white;
font-size: 15px;
}

.blue-text {
color: blue;
}

.red-text {
color: red;
}

.macintosh {
background-color: lightskyblue;
padding: 25px 0px;
}

.blue-hr {
margin: 20px 0px -10px 0px;
background-color: blue;
border: none;
height: 20px;
}

.red-hr {
margin: 0px 0px 0px 0px;
background-color: red;
border: none;
height: 20px;
}

.macintosh-image {
margin: -22px 0px 0px 0px;
background-color: gold;
float: right;
}

.orange-hr {
margin: 0px -0.65% 0px -0.65%;
background-color: orange;
border-color: orange;
border: none;
height: 20px;
}

footer p {
background-color: coral;
text-align: center;
padding: 15px 0px 40px 0px;
margin: 0px -0.65% 0px -0.65%;
}

.products-list {
list-style-type:katakana-iroha;
margin: 25px 40px 20px 40px;
background-color: beige;
line-height: 2;
}

.products {
background-color: orange;
margin: 0px -0.5% -10px -10px;;
padding: 5px;
}
